.home-hero {
  height: 100vh; // Ocupa todo el alto de la pantalla
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(245, 245, 245, 0.4) 100%);
    z-index: 2;
  }

  /* Desktop: Tres imágenes alineadas */
  &__desktop {
    display: flex;
    width: 100%;
    height: 100%;

    &__images {
      display: flex;
      flex-grow: 1; // Ocupa todo el espacio disponible
      gap: 0; // Sin margen entre imágenes
      height: 100%;

      &__image {
        flex: 1; // Todas las imágenes tienen el mismo ancho
        height: 100%;
        object-fit: cover; // Mantiene la proporción sin distorsión
      }
    }
  }

  /* Mobile: Carrusel de imágenes */
  &__mobile {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* Botón centrado */
  &__boton {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.99);
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 10px;
    /* Bordes más redondeados para un look más moderno */
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    /* Transición general para suavizar todos los cambios */
    z-index: 3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    /* Sombra para dar profundidad */

    a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      transition: color 0.3s ease;
      /* Suaviza el cambio de color */
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: rgb(0, 0, 0);
      cursor: pointer;
      transform: translate(-50%, -50%) scale(1.1);
      /* Aumenta ligeramente el tamaño al pasar el mouse */
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
      /* Aumenta la sombra al hover */

      a {
        color: rgb(0, 0, 0);
      }
    }

    &:active {
      transform: translate(-50%, -50%) scale(0.95);
      /* Hace que se encoja un poco al clic */
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
      /* Reduce la sombra al clic */
    }
  }


  /* Media Queries */
  @media (max-width: 768px) {

    &__desktop {
      display: none; // Ocultamos las imágenes en desktop
    }

    &__mobile {
      display: block; // Mostramos el carrusel en mobile
    }
  }
}