.home-hero {
  height: 100vh; // Ocupa todo el alto de la pantalla
  position: relative;
  background-color: black;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(245, 245, 245, 0.4) 100%);
    z-index: 2;
  }

  /* Desktop: Tres imágenes alineadas */
  &__desktop {
    display: flex;
    width: 100%;
    height: 100%;

    &__images {
      display: flex;
      flex-grow: 1; // Ocupa todo el espacio disponible
      gap: 0; // Sin margen entre imágenes
      height: 100%;

      &__image {
        flex: 1; // Cada imagen ocupa el mismo espacio
        height: auto; // Ajusta la altura automáticamente
        max-height: 100%; // Limita la altura al 100%
        object-fit: contain; // Asegura que las imágenes no se recorten
        width: 33.33%; // Cada imagen ocupa un tercio del ancho
      }
    }
  }

  /* Mobile: Carrusel de imágenes */
  &__mobile {
    display: none;
    width: 100%;
    height: 100vh;
    position: relative;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* Botón centrado */
  &__boton {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.99);
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    z-index: 3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

    a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      transition: color 0.3s ease;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: rgb(0, 0, 0);
      cursor: pointer;
      transform: translate(-50%, -50%) scale(1.1);
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);

      a {
        color: rgb(0, 0, 0);
      }
    }

    &:active {
      transform: translate(-50%, -50%) scale(0.95);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
  }

  // Estilo para pantallas entre 768px y 2000px
  @media (max-width: 2000px) and (min-width: 768px) {
    &__desktop {
      &__images {
        &__image {
          object-fit: cover; // Asegura que las imágenes mantengan proporciones
          height: 100%; // Ocupa todo el alto
        }
      }
    }
  }

  /* Media Queries para pantallas móviles */
  @media (max-width: 768px) {
    &__desktop {
      display: none; // Ocultamos el diseño de desktop
    }

    &__mobile {
      display: flex; // Mostramos el carrusel
      overflow-x: auto;
      scroll-snap-type: x mandatory;

      &__image {
        scroll-snap-align: center;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
